
body, html{
height: 100%;
margin: 0;
display: block;
font-family: ariel, sans-serif;
font-size: small;
}

ul {
    list-style-type: none;
    margin: 15px;
    padding: 0px;
    opacity: 0.75;
    text-decoration-style: solid;
}

li {
    float: left;
}

a { 
    display: block;
    padding: 8px;

   }

a:link{
color:black;
text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}


a:visited{
    color:black;
}
#signin{
    width: 70px;
    border: 1px;
    border-radius: 3px;
    border-color: blue;
    background-image: linear-gradient(rgb(10, 96, 245), rgb(39, 109, 230));
    padding: 7px;
    color: white;
    font-weight: bold;
}
    
#squares{
    width: 14px;
    height: 14px;
    padding: 2px;
    margin-left: 12px;
    margin-right: 20px;
    margin-top: 7px; 
    background-image: url("./media/squares.svg");
    background-size: contain;
    opacity: 70%;
    }

#squares:hover{
    opacity: 100%;
    }
