
body, html{
font-size: small;
height: 100%;
margin: 0;
display: block;
font-family: ariel, sans-serif;
}

a:link{
color:black;
text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

a:visited{
    color: #609;
}


.top{
    display: inline-block;
    font-size: 13px;
    }